<h1>{{title}}</h1>
<p>Welcome to a list of {{title}}</p>

<div>Hi! My name is {{name}}</div>

<ul>
    {{#each users}}
    <li>{{this}}</li>
    {{/each}}
</ul>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Password</th>
    </tr>
    {{#each user}}
    <tr>
        <td>{{id}}</td>
        <td>{{username}}</td>
        <td>{{password}}</td>
    </tr>
    {{/each}}
</table>